{% extends "base.html" %}
{% load static %}
{% block title %}
	Thanks - Best Hair Products
{% endblock %}
{% block content %}
	<div>
		<div class="container mb-3">
			<div class="row px-3">
				<div class="col">
					<ul id="progressbar">
						<li class="step0 active" id="step1">BASKET</li>
						<li class="step0 active text-center" id="step2">PAYMENT</li>
						<li class="step0 active text-right" id="step3">CONFIRMATION</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-center">
			<br>
			<br>
			<h1 class="text-center my_title">
				Thanks for placing your order
			</h1>
			<br>
			<br>
			<p>Your order number is: <b>{{ customer_order.id }}</b></p>
			<br>
			<p>
                We have received your order and will begin processing right 
                away. For your records an email confirmation has been sent to 
                you. It contains details of the items you purchased.
			</p>
		</div>
	</div>
	<br>
	<br>
{% endblock %}
